/* styles/style.css */

/* Общие стили */
body {}

/* Шапка */
header {
    margin: 0;
    padding: 0;
}

nav {}

.navmain {}

.navlots {}

.navabout {}

address {}

.addressphone {}

.addressmail {}

.addressaddress {}

/* Основное содержание */
main {}

/* Обложка */
.cover {
    margin: 0;
    padding: 0;
    background: url('../images/cover.jpg');

}

.cover h1 {}

.cover h1 div {}

.description {}

.descriptiontext {}

.descriptionbutton {}

/* Лоты */
.lots {
    margin: 0;
    padding: 0;
}

.lots h1 {}

.lots ul {}

.lots li {}

.lots h2 {}

.textabout {}

.lots img {}

.lots a {}

.lots article {}

.lot__one {
    background: url('../images/card-lot-01.jpg');
}

.lot__two {
    background: url('../images/card-lot-02.jpg');
}

.lot__three {
    background: url('../images/card-lot-03.jpg');
}

/* Об аукционе */
.about {
    margin: 0;
    padding: 0;
}

.containerimg {}

.containerabout {}

.containerabout h1 {}

.containerabout .textabout {}

.containerabout .textabout p {}

/* Подвал */
footer {
    margin: 0;
    padding: 0;
}

footer nav {}

footer .navmain {}

footer .navlots {}

footer .navabout {}

.social-mediacontainer {}

.social-media {}

.social-media img {}

footer address {}

footer .addressphone {}

footer .addressmail {}

footer .address__address {}