/* styles/style.css */

/* Общие стили */
body {}

/* Шапка */
header {
    margin: 0;
    padding: 16 8;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

img {
    display: block;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    list-style: circle;
}

.navmain {}

.navlots {}

.navabout {}

address {}

adress__style {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 240px;
    display: flex;
    flex-direction: column;
}

.addressphone {}

.addressmail {}

.addressaddress {}

/* Основное содержание */
main {
    position: relative;
}

/* Обложка */
.cover {
    margin: 0;
    padding: 0;
    background: url('../images/cover.jpg');
    min-height: 757px;
}

.cover h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30%;
    text-transform: uppercase;
}

.cover span {
      display: inline-flex; /* позволяет контролировать выравнивание */
  justify-content: center;
  width: 100%;  
}

.description {}

.descriptiontext {}

.descriptionbutton {}

/* Лоты */
.lots {
    margin: 0;
    padding: 0;
}

.lots h1 {}

.lots ul {}

.lots li {}

.lots h2 {}

.textabout {}

.lots img {}

.lots a {}

.lots article {}

.lot__one {
    background: url('../images/card-lot-01.jpg');
}

.lot__two {
    background: url('../images/card-lot-02.jpg');
}

.lot__three {
    background: url('../images/card-lot-03.jpg');
}

/* Об аукционе */
.about {
    margin: 0;
    padding: 0;
}

.containerimg {}

.containerabout {}

.containerabout h1 {}

.containerabout .textabout {}

.containerabout .textabout p {}

/* Подвал */
footer {
    margin: 0;
    padding: 0;
}

footer nav {}

footer .navmain {}

footer .navlots {}

footer .navabout {}

.social-mediacontainer {}

.social-media {}

.social-media img {}

footer address {}

footer .addressphone {}

footer .addressmail {}

footer .address__address {}